.content {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-wrapper {
  width: 65%;
  background-color: #232323;
}

.todo-input-wrapper {
  background-color: #202020;
  display: flex;
}

.todo-input {
  padding: 0.25rem;
}

.todo-input:focus {
  outline: none;
}


.todo-sort {
  padding: 0.25rem;
}

.todos {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0.25rem;
  list-style: none;
}

.todo-item {
  height: 1.5rem;
  padding: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  padding: 0.15rem;
}

p {
  font-style: italic;
  color: #404040;
}

.even { 
  background-color: #232323;
}

.odd {
  background-color: #323232;
}
